<!doctype html>
<html lang="zh-CN" ng-app="myApp" ng-controller="createInfoController">
<head>
    <meta charset="utf-8">
    <title>湾社区 - 创客创业第一社区</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <script src="js/jweixin-1.0.0.js"></script>
    <link rel="stylesheet" media="all" href="../css/application-538f86720d32c04804b484643db90023.css" />
    
</head>
<body class="products " style=''>
	<ng-include src="'../include/nav.html'"></ng-include>
	<div class="media-wrap">
		<div class="container">
			<div class="row">
				<ng-include src="'../include/createInfoForm.html'"></ng-include>
				 
				
			</div>
		</div>
	</div>


	<div id="back-to-top" class="back-to-top">
    <a href="#top"><img src="http://7xi85d.com2.z0.glb.qiniucdn.com/assets/back-to-top-btn-5460cb925fcfef53835dc8be5812b12b.png" alt="Back to top btn" /></a>
</div>
<ng-include src="'../include/footer.html'"></ng-include>
<!-- <script src="http://7xi85d.com2.z0.glb.qiniucdn.com/assets/application-90344bc9525b56dcb1f953c40574d065.js"></script> -->
 
<div class="place-to-user"></div>
<div class="user-to-registration"></div>
 <script type="text/javascript" src="../js/angular.min.js"></script>
 <script type="text/javascript" src="../js/createInfoController.js"></script>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
</body>
</html>
