
<!doctype html>
<html lang="zh-CN" ng-app="myApp" ng-controller="detailsController">
<head>
    <meta charset="utf-8">
    <title>湾社区 - 创客创业第一社区</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" media="all" href="../css/application-538f86720d32c04804b484643db90023.css" />
</head>
<body class="products " style=''>
   <ng-include src="'../include/nav.html'"></ng-include>
<div id="additional-info" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">详情</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="products-show">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="info">
                    <div class="info-header">
                        <div class="info-header-title">
                            <h3>Nexpaq模块化手机壳</h3>
              <span class="pull-right">
                <span class= "hidden-xs">
                  2015年12月24日</span>
                <div class="avatar">
                    <a class="avatar-thumb" target="_blank" href="/users/1073141518">
                        <img class="img-circle" src="http://7xi85d.com2.z0.glb.qiniucdn.com/default-avatars/b11.jpg" alt="B11" />
                    </a>
                    <div class="avatar-ball bottom text-center">
                        <img class="img-circle" src="http://7xi85d.com2.z0.glb.qiniucdn.com/default-avatars/b11.jpg" alt="B11" />
                        <a target="_blank" href="/users/1073141518"><h4>309240790</h4></a>
                        <p class="text-muted truncate">暂无介绍</p>
                    </div>
                </div>

              </span>
                        </div>
                        <p>
                            可以定制和拓展的模块化手机壳，每一个模块有不同的功能。我们完成了此产品的可靠性测试。
                        </p>
              <span class="hidden-xs product-tag">
                  <a href="/ware?tag=%E6%89%8B%E6%9C%BA%E9%80%9A%E8%AE%AF" class="btn btn-default">手机通讯</a>
                  <a href="/ware?tag=%E5%88%9B%E5%AE%A2%E5%88%9B%E6%84%8F" class="btn btn-default">创客创意</a>
                  <a href="/ware?tag=%E6%95%B0%E7%A0%81%E9%85%8D%E4%BB%B6" class="btn btn-default">数码配件</a>
              </span>
                    </div>
                    <div class="info-introduce">
                        <dl class="dl-horizontal">
                            <dt data-toggle="tooltip" data-placement="bottom" title="产品创造者包括：产品创始人、产品团队成员以及参与了该产品创造过程的人">产品创造者</dt>
                            <dd class="no-padding">
                                <div class="avatar">
                                    <a class="avatar-thumb" target="_blank" href="/friends/59061589">
                                        <img class="img-circle" src="http://7xi85d.com2.z0.glb.qiniucdn.com/uploads%2Fusers%2Favatar%2F1073131174%2Fthumb_123.pic.jpg" alt="Uploads%2fusers%2favatar%2f1073131174%2fthumb 123.pic" />
                                    </a>
                                    <div class="avatar-ball bottom text-center">
                                        <img class="img-circle" src="http://7xi85d.com2.z0.glb.qiniucdn.com/uploads%2Fusers%2Favatar%2F1073131174%2Fthumb_123.pic.jpg" alt="Uploads%2fusers%2favatar%2f1073131174%2fthumb 123.pic" />
                                        <a target="_blank" href="/friends/59061589"><h4>李运强</h4></a>
                                        <p class="text-muted truncate">融一凤巢-COO，JDM for Startups.提供工业设计、技术研发、供应链管理服务。</p>
                                    </div>
                                </div>
                                <div class="avatar">
                                    <a class="avatar-thumb" target="_blank" href="/users/1073141518">
                                        <img class="img-circle" src="http://7xi85d.com2.z0.glb.qiniucdn.com/default-avatars/b11.jpg" alt="B11" />
                                    </a>
                                    <div class="avatar-ball bottom text-center">
                                        <img class="img-circle" src="http://7xi85d.com2.z0.glb.qiniucdn.com/default-avatars/b11.jpg" alt="B11" />
                                        <a target="_blank" href="/users/1073141518"><h4>309240790</h4></a>
                                        <p class="text-muted truncate">暂无介绍</p>
                                    </div>
                                </div>

                                <a href='#user-profile' data-toggle='modal'>
                   <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x text-muted"></i>
                    <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                  </span>
                                </a>
                            </dd>

                        </dl>
                        <div class="info-icon">
                            <div class="pull-right">
                                <div class="icon ">
                                    <a href="/ware/1073447116/edit"><i class="fa fa-pencil"></i><br>
                                        编辑
                                    </a>
                                </div>
                                <div id="like_1073447116" class="icon">
                                    <a data-remote="true" href="/ware/1073447116/like">
                                        <i class="fa fa-heart"></i><br>
                                        <span>0</span>
                                    </a>                    </div>
                                <div class="icon">
                                    <a href="#comments"><i class="fa fa-comment"></i><br>
                                        <em>0</em>
                                    </a>
                                </div>
                                <div class="icon">
                                    <a href="#" class="share"><i class="fa fa-share-alt"></i><br>
                                        分享
                                    </a>
                                    <div class="share-box">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#share2Weixin"> <i class="icon icon-wx"></i>
                                                    微信
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://share.baidu.com/s?type=text&searchPic=0&sign=on&to=tsina&url=http://www.shenzhenware.com/ware/1073447116&title=Nexpaq%E6%A8%A1%E5%9D%97%E5%8C%96%E6%89%8B%E6%9C%BA%E5%A3%B3" target="_blank"> <i class="icon icon-weibo-small"></i>
                                                    新浪微博
                                                </a>
                                            </li>

                                            <li>
                                                <a href="http://share.baidu.com/s?type=text&searchPic=0&sign=on&to=douban&url=http://www.shenzhenware.com/ware/1073447116&title=Nexpaq%E6%A8%A1%E5%9D%97%E5%8C%96%E6%89%8B%E6%9C%BA%E5%A3%B3" target="_blank">
                                                    <i class="icon icon-douban"></i>
                                                    豆瓣
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="modal fade" tabindex="-1" role="dialog" id="share2Weixin" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="share-weixin">
                                                <p>使用微信“扫一扫”，打开网页后点击右上角分享按钮进行分享</p>
                                                <img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&amp;data=http://www.shenzhenware.com/ware/1073447116" alt="1073447116" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-introduce">
                    <div  class="slider-for">
                        <div class="slick-slide">
                            <img src="http://7xi85d.com2.z0.glb.qiniucdn.com/uploads%2Fproducts%2F1073447116%2FNexpaq______.jpg" alt="Uploads%2fproducts%2f1073447116%2fnexpaq      " />
                        </div>
                        <div class="slick-slide">
                            <img src="http://7xi85d.com2.z0.glb.qiniucdn.com/uploads%2Fproducts%2F1073447116%2Ff974f0f0bf0649b3f6256728597b888b.png" alt="Uploads%2fproducts%2f1073447116%2ff974f0f0bf0649b3f6256728597b888b" />
                        </div>
                    </div>
                    <div  class="slider-nav hidden-xs">
                        <div class="slick-slide">
                            <img src="http://7xi85d.com2.z0.glb.qiniucdn.com/uploads%2Fproducts%2F1073447116%2FNexpaq______.jpg" alt="Uploads%2fproducts%2f1073447116%2fnexpaq      " />
                        </div>
                        <div class="slick-slide">
                            <img src="http://7xi85d.com2.z0.glb.qiniucdn.com/uploads%2Fproducts%2F1073447116%2Ff974f0f0bf0649b3f6256728597b888b.png" alt="Uploads%2fproducts%2f1073447116%2ff974f0f0bf0649b3f6256728597b888b" />
                        </div>
                    </div>
                    <div class="introduce-text">
                        <p>可以定制添加和拓展更多功能，移动电源、SD读卡机、激光笔、酒精检测、空气检测、LED闪光等等，就是要这么与众不同。</p>
                        <p>
                            <a target="_blank" href="https://www.kickstarter.com/projects/nexpaq/nexpaq-the-first-truly-modular-smartphone-case?ref=nav_search"><i class="fa fa-link"></i> 查看产品详情</a>
                        </p>
                        <!-- <div class="text-center">
                          <a href="#"><i class="fa fa-angle-up"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="visible-xs">
                </div>


                <div class="comment-area">
                    <div class="title">
                        <span>评论</span>
                    </div>

                    <div class="panel-body">无评论</div>




                    <form class="form-horizontal comment-form" id="new_comment" action="/comments" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
                        <div class="form-group">
                            <div class="comment-inputs">
          <textarea id="comments" class="form-control" placeholder="请输入评论内容" required="required" name="comment[body]">
</textarea>
                                <input type="hidden" name="comment[parent_id]" id="comment_parent_id" />
                            </div>


                            <input type="hidden" name="comment[pic_ids]" id="comment_pic_ids">
                            <div class="row image-area hide"></div>
                            <div class="pull-left">
          <span class="btn btn-basic fileinput-button custome-fileupload-btn">
          <i class="fa fa-plus"></i>
          <span>上传图片</span>
          <input id="fileupload" type="file" name="files[]" multiple data-url="/pictures.json" data-sequential-uploads="true">
          </span>
                            </div>


                            <input value="1073447116" type="hidden" name="comment[commentable_id]" id="comment_commentable_id" />
                            <input value="Product" type="hidden" name="comment[commentable_type]" id="comment_commentable_type" />
                            <div class="pull-right">
                                <input type="submit" name="commit" value="评论" class="btn btn-basic comment-btn" /></div>
                        </div>
                    </form></div>

            </div>
            <div class="col-md-3 sidebar ">



                <div class="sidebar-item">
                    <h4>相关报道</h4>
                    <div class="tab-pane">
                        <p><a href="/articles/10535">今春，Nexpaq 手机壳就能让 iPhone 变身模块化手机</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="user-profile" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" style="padding-top: 0" id="edit_user_1073141518" action="/users/product_update_profile?id=1073447116" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="eWHdG4R/fI69B+/DbK2vxTk5zZjWuPpODm7Q98hAtqG7NERjDqQVc9T6zlfDgRcJLstHzFQmogAfrFpnw2RyQA==" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                        <h4 class="modal-title">认领成为该产品创造者</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label required" for="user_real_name">姓名</label>
                            <div class="col-md-10"><input class="form-control" placeholder="请输入您的真实姓名……" required="required" type="text" name="user[real_name]" id="user_real_name" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label required" for="user_company">公司</label>
                            <div class="col-md-10"><input class="form-control" placeholder="请输入您就职的公司名称……" required="required" type="text" name="user[company]" id="user_company" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label required" for="user_position">职位</label>
                            <div class="col-md-10"><input class="form-control" placeholder="请输入您的职位……" required="required" type="text" name="user[position]" id="user_position" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label required" for="user_phone">手机</label>
                            <div class="col-md-10"><input class="form-control" placeholder="请输入您的联系电话……" required="required" type="text" name="user[phone]" id="user_phone" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label required" for="user_email">电子邮件</label>
                            <div class="col-md-10"><input class="form-control" placeholder="请输入您的邮箱地址……" required="required" type="text" value="309240790@qq.com" name="user[email]" id="user_email" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label required" for="user_intro">一句话介绍</label>
                            <div class="col-md-10"><input class="form-control" placeholder="请输入您的个人简介" required="required" type="text" name="user[intro]" id="user_intro" /></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">提交申请</button>
                    </div>
                </form>      </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="adopt"></div>

 

<div id="back-to-top" class="back-to-top">
    <a href="#top"><img src="http://7xi85d.com2.z0.glb.qiniucdn.com/assets/back-to-top-btn-5460cb925fcfef53835dc8be5812b12b.png" alt="Back to top btn" /></a>
</div>
  <ng-include src="'../include/footer.html'"></ng-include>
<script src="http://7xi85d.com2.z0.glb.qiniucdn.com/assets/application-90344bc9525b56dcb1f953c40574d065.js"></script>
 <script type="text/javascript" src="../js/angular.min.js"></script>
 <script type="text/javascript" src="../js/detailsController.js"></script>
<div class="place-to-user"></div>
<div class="user-to-registration"></div>
</body>
</html>
