<div class="publish">
	<div class="head">
		<h3>创建产品/项目</h3>
		<p>提交你参与的产品/项目</p>
	</div>
	<form class="new_product" id="new_product"
		enctype="multipart/form-data" action="/ware" accept-charset="UTF-8"
		method="post">
		<input name="utf8" type="hidden" value="✓"><input
			type="hidden" name="authenticity_token"
			value="fAZapdbT4KpVNzcwLnZZtpBz30RAFT191gIzjZ2P5PHjcHGyC4N+93n4dzUO5bMLOV7sQXSve939iWVKlcrilA==">
		<div class="form-wrap">
			<div class="form-group mb-lg product-name">
				<label for="product_name">产品/项目名称 <em>* 必填</em></label> <input
					class="form-control product-select ui-autocomplete-input"
					placeholder="填写你要分享的产品/项目的名称" required="required" type="text"
					name="product[name]" id="product_name" autocomplete="off">
			</div>

			<div class="form-group mb-lg form-category">
				<label for=""> 产品/项目类别 <em>* 必填</em>
				</label>
				<div class="form-control product-form-element">
					<div id="selected-ProductCategory" class="resource-group">
						<a class="select_btn"
							href="/resource_chooser?resource=ProductCategory&amp;container_id=selected-ProductCategory&amp;value="
							data-remote="true"> <span id="btn_click_to_choose" class="">点此选择</span>
						</a> <input type="hidden" id="value_holder" name="product[tag_list]"
							value="">
					</div>

				</div>
			</div>

			<div class="form-group mb-lg form-intro">
				<label for="product_intro">产品/项目一句话描述 <em>* 必填</em></label> <input
					class="form-control product-form-element"
					placeholder="用一句话来描述该产品/项目亮点" required="required" type="text"
					name="product[intro]" id="product_intro">
			</div>
			<div class="form-group mb-lg form-description">
				<label for="product_description">产品/项目详细描述 <em>* 必填</em></label>
				<textarea class="form-control product-form-element"
					placeholder="你可以从以下方面来描述你的产品/项目：
- 产品/项目细分领域
- 产品/项目用途
- 产品/项目服务对象
- 产品/项目前景
"
					rows="10" required="required" name="product[description]"
					id="product_description"></textarea>
			</div>

			<div class="form-group mb-lg product-images">
				<label> 产品/项目图片 <em>* 必填</em>
				</label>
				<div class="product-form-element input-images">
					<table id="images" class="table">
					</table>
				    	<div class="portlet-body tabs-below" style="display: block;">
			 	
				<div class="row static-info" >

					<div class="col-md-12 value">
						<div class="img-md">
							<ul id="ulimg" data-am-widget="gallery"
								class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default am-no-layout"
								data-am-gallery="{ pureview: true }">

								<li ng-repeat="f in uploadImages"
									ng-dblclick="deletePic($index,f.key)">
									<div class="am-gallery-item">
										<img ng-src="{{f.secure_url}}" alt="{{f.original_filename}}"
											data-am-pureviewed="1">
										<h3 class="am-gallery-title text-center">{{f.original_filename}}</h3>
									</div>
								</li>
							</ul>
						</div>



						<!-- 							<li ng-repeat="f in files" style="font: smaller">{{f.name}} -->
						<!-- 								{{f.$errorParam}} <span class="progress" -->
						<!-- 								ng-show="f.progress >= 0"> -->
						<!-- 									<div style="width: {{f.progress" ng-bind="f.progress + '%'"></div> -->
						<!-- 							</span> -->
						<!-- 							</li> -->
						<!-- 							<li ng-repeat="f in errFiles" style="font: smaller">{{f.name}} -->
						<!-- 								{{f.$error}} {{f.$errorParam}}</li> -->
						<button
							ngf-select="uploadFiles($files, $invalidFiles,'/product/saveFile','25','205')"
							multiple accept="image/*" ngf-max-height="10000"
							ngf-max-size="5MB">添加图片</button>
						{{errorMsg}}

					</div>
				</div>
			</div>
				</div>
			</div>

			<div class="form-group mb-lg form-url">
				<label for="product_url">产品/项目链接</label>
				<div class="product-form-element input-group">
					<span class="input-group-addon">http://</span> <input
						class="form-control" placeholder="填写产品官网链接或相关链接" type="text"
						name="product[url]" id="product_url">
				</div>
			</div>

			<div class="form-group mb-lg product-if-public-radio-button">
				<label>是否公开</label>
				<div class="product-form-element">
					<label for="product_if_public_yes"> <input type="radio"
						value="true" checked="checked" name="product[if_public]"
						id="product_if_public_true"> 公开
					</label> <label for="product_if_public_no"> <input type="radio"
						value="false" name="product[if_public]"
						id="product_if_public_false"> 仅深圳湾管理员可见
					</label>
				</div>
			</div>




			<div class="form-foot form-group">
				<div class="operate product-operate">
					<input type="submit" name="commit" value="提交"
						class="btn btn-primary product-form-element"> <a
						class="btn btn-default" href="/ware">取消</a>
				</div>
			</div>
		</div>
	</form>
</div>